<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
  <div class="container"><button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler"><span
        class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav mr-auto"></ul><span class="navbar-text actions"><button
          class="btn btn-light action-button" style="color:#b20202 !important;" (click)="signout()">Sign
          out</button></span>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-8 offset-2">
    <button class="btn-block btn-light action-button" style="color:#b20202 !important;" (click)="openDialog()">Crear Mensaje</button>
  </div>
</div>
<br><br><br>

<div class="row"  *ngFor="let item of mensajes">
  <div class="col-12 ml-5">
    <h5 style="color:#b20202 !important;">{{item.username}}</h5>
    <p>{{item.message}}<br></p>
  </div>
</div>
