<div class="container-fluid">
  <div class="row mh-100vh">
    <div
      class="col-12 col-sm-8 col-md-6 col-lg-6 offset-sm-2 offset-md-3 offset-lg-3 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0"
      data-aos="zoom-in" data-aos-once="true">
      <div class="m-auto w-lg-75 w-xl-50" style="padding:47px;border:1px solid gray;">
        <h1 class="mb-3" style="color:#b20202 !important;">Login</h1>
        <form [formGroup]="loginForm">

          <mat-form-field>
            <div class="form-group"><label data-aos="zoom-in" data-aos-delay="100" data-aos-once="true"
                class="text-secondary" style="color:#b20202 !important;">Username</label><input matInput
                formControlName="username" class="form-control" type="text" data-aos="zoom-in" data-aos-delay="100"
                data-aos-once="true" required=""></div>
          </mat-form-field>

          <mat-form-field>
            <div class="form-group"><label data-aos="zoom-in" data-aos-delay="150" data-aos-once="true"
                class="text-secondary" style="color:#b20202 !important;">Password</label><input matInput
                formControlName="password" class="form-control" type="password" data-aos="zoom-in" data-aos-delay="200"
                data-aos-once="true" required=""></div>
          </mat-form-field>


          <div class="form-row justify-content-end" data-aos="slide-right" data-aos-once="true">
            <div class="col-auto align-self-center"><button class="btn btn-danger d-flex outline"
                data-bs-hover-animate="rubberBand" style="border-radius:20px;" type="button"
                (click)="login()">Login</button></div>
          </div>
          <p class="text-right mt-3 mb-0"><a class="text-danger text-info small" data-aos="fade" data-aos-delay="300"
              data-aos-once="true" routerLink="/register">Crea una cuenta aqui</a></p>

        </form>

      </div>
    </div>
  </div>
</div>
